@import "compass";

// Core variables and mixins for bootstrap
@import "bootstrap/variables";
@import "bootstrap/mixins";


@mixin aTransition($seconds) {
	-webkit-transition: all $seconds linear;
	-moz-transition: all $seconds linear; 
	-o-transition: all $seconds linear; 
  transition: all $seconds linear; 
}
@mixin inlineBlock() {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
$black : #000;


body {
	background: #fff;
	font-size: 14px;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #6e6e6e;
}

::-moz-selection {
  background: #34aadc;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #34aadc;
  color: #fff;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

a, a:link {
	color: #34aadc;
	@include aTransition(.2s);
	&:active, &:focus {
		outline: none;
		text-decoration: none;
	}
}
a:hover {
	color: #000;
	text-decoration: underline;
}

#header {
	padding: 2em 0 3em 0;
	background: #282828 url(../images/bg_hero.jpg) no-repeat center center;
	background-size: cover;
	#logo {
		float: left;
		a {
			text-indent: -999999px;
			display: block;
			background: url(../images/logo.png) no-repeat;
			width: 91px;
			height: 29px;
		}
	}
	.mainnav {
		float: left;
		margin: 25px 0 0 20px;
		padding: 0;
		li {
			list-style: none;
			display: inline;
			margin: 0;
			padding: 0;
			a {
				font-size: 15px;
				color: #fff;
				margin: 0 15px;
				padding: 10px 0;
				border-bottom: 2px solid transparent;
				@include aTransition(.2s);
				&:hover {
					text-decoration: none;
					border-bottom: 2px solid #fff;
				}
				&:active, &:focus {
					outline: none;
					text-decoration: none;
				}
			}
		}
	}
	.nav-actions {
		float: right;
		margin: 25px 0 0 0;
		padding: 0;
		li {
			list-style: none;
			display: inline;
			margin: 0;
			padding: 0;
			a {
				font-size: 15px;
				color: #fff;
				padding: 7px 20px;
				&:hover {
					text-decoration: none;
				}
				&:active, &:focus {
					outline: none;
					text-decoration: none;
				}
			}
			&.sign-in {
				a {
					border: 1px solid #fff;
					border: 1px solid rgba(255, 255, 255, .1);
					border-radius: 4px;
					@include aTransition(.2s);
					&:hover {
						border: 1px solid rgba(255, 255, 255, 1);
					}
				}
			}
			&.sign-up {
				margin-left: 10px;
				a {
					@include aTransition(.2s);
					border: 1px solid #34aadc;
					background: #34aadc;
					border-radius: 4px;
					&:hover {
						border: 1px solid #fff;
						color: #34aadc;
						background: #fff;
					}
				}
			}
		}
	}
	.intro {
		padding: 120px 0 220px 0;
		clear: both;
		text-align: center;
		h2 {
			font-size: 60px;
			color: #fff;
			font-weight: 300;
			line-height: 1.4;
		}
		.intro-btn {
			margin-top: 20px;
			color: #fff;
			&:hover {
				color: #34aadc!important;
			}
			&:active, &:focus {
				outline: none;
				text-decoration: none;
			}
		}
	}
}

.btn-primary {
	border: 1px solid #34aadc;
	background: #34aadc;
	border-radius: 4px;
	@include aTransition(.2s);
	padding-left: 20px;
	padding-right: 20px;
	color: #fff!important;
	&:hover {
		border: 1px solid rgba(255, 255, 255, 1);
		border: 1px solid #fff;
		background: #fff;
		color: #34aadc!important;
		box-shadow: none;
	}
	&:active, &:focus {
		box-shadow: none;
		border: 1px solid #fff;
		outline: none;
		text-decoration: none;
		background: #fff;
		color: #34aadc!important;
		box-shadow: none;
	}
}

.btn-green {
	
	&:hover {
		background: #8dc43f;
		border: 1px solid #8dc43f;
		color: #fff!important;
	}
	&:active, &:focus {
		background: #8dc43f;
		border: 1px solid #8dc43f;
		color: #fff!important;
		outline: none!important;
	}
	
}

.ghost-btn-white {
	padding: 7px 10px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 4px;
	@include aTransition(.2s);
	color: #888888!important;
	&:hover {
		border: 1px solid #34aadc;
		text-decoration: none;
		color: #fff!important;
		background: #34aadc;
	}
	&:focus, &:active {
		outline: none!important;
		box-shadow: none;
	}
}

.ghost-btn-share {
	padding: 12px 25px;
	border: 1px solid #fff;
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 4px;
	color: #fff!important;
	text-transform: uppercase;
	@include aTransition(.2s);
	letter-spacing: 1px;
	&:hover {
		border: 1px solid #fff;
		text-decoration: none;
		color: #34aadc!important;
		background: #fff;
	}
	&:focus, &:active {
		border: 1px solid #fff;
		text-decoration: none;
		color: #34aadc!important;
		background: #fff;	
		outline: none!important;
		box-shadow: none!important;
	}
}

#main {
	// padding: 40px 0;
}

#trending {
	padding: 50px 0;
	background: #f7f4ef;
	.trending-btn {
		margin-top: 15px;
		float: right;
	}
}
.heading {
	margin-bottom: 40px;
	color: #000;
}

.fundraiser-entry {
	margin-bottom: 20px;
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	// border: 1px solid #ccc;
	.fundraiser-intro-wrap {
		clear: both;
		padding: 10px;
	}
	h3 {
		font-size: 15px;
		margin-top: 10px;
		a {
			color: #000;
		}
	}
	.progress {
		height: 8px;
		box-shadow: none;
		border-radius: 30px;
		margin-bottom: 10px;
		background: #ececec;
		.progress-bar {
			box-shadow: none;
			background: #8dc43f;
			border-radius: 30px;
		}
	}
	.money-raised {
		font-size: 20px;
		color: #000;
		margin-bottom: 10px;
		font-weight: 300;
	}
	.crop {
		width: 100%;
	    height: 200px;
	    display: block;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    float: left;
	}

}

.crop-project-image {
	width: 100%;
    height: 490px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    @include border-radius(4px);
    overflow: hidden;
    @media screen and (max-width: $screen-sm) {
    	height: 300px;
    }
}
#projects-carousel {
	.item {
		@include border-radius(4px);		
	}
}


.progress {
	height: 8px;
	box-shadow: none;
	border-radius: 30px;
	margin-bottom: 10px;
	background: #ececec;
	.progress-bar {
		box-shadow: none;
		background: #8dc43f;
		border-radius: 30px;
	}
}
.money-raised {
	font-size: 20px;
	color: #000;
	margin-bottom: 10px;
	font-weight: 300;
}

#features {
	padding: 50px 0;
	.feature {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
		h2 {
			font-weight: 300;
			color: #34aadc;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: 20px;
		}
		p {
			width: 50%;
			margin: 0 auto 30px auto;
			text-align: center;
		}
	}
}

#spread-the-word {
	background: #34aadc;
	padding: 50px 0 70px 0;
	float: left;
	width: 100%;
	h2 {
		text-align: center;
		font-size: 26px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 300;
		color: #fff;
		margin-bottom: 30px;
	}
	.btn {
		margin: 0 10px;
	}
}


#footer {
	background: #f7f4ef;
	padding: 50px 0;
	float: left;
	width: 100%;
	a {
		color: #a3a09b;
	}
	ul {
			padding: 0;
			margin: 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			a {
				// color: #6e6e6e;
				color: #a3a09b;
				&:hover {
					// color: #6e6e6e;
					color: #a3a09b;
				}
			}
		}
	}
	h4 {
		color: #c0bebb;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 300;
	}
}
// Owl
#owl-demo .item{
	margin: 10px;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}

.h1 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 40px;
	color: #000;
}
// Single
#fundraiser-single {
	padding: 70px 0 0 0;
	background: #f7f4ef;
	.h1 {
		color: $black;
		margin-bottom: 10px;
	}
	.h1, .organizer {
		margin-top: 0;
	}
	.goal {
		line-height: 1;
		margin-bottom: 20px;
	}
	.organizer {
		margin-bottom: 30px;
	}
	.fundraiser-single-moreinfo {
		@include border-radius(4px, 4px);
		color: $black!important;
		background: #fff;
		padding: 20px;
		h2 {
			margin-top: 0;
			margin-bottom: 10px;
			color: $black;
			font-weight: 700;
			font-size: 40px;
			span {
				font-weight: 300;
				font-size: 20px;
				color: #888;
			}
		}
		.fundraiser-percent-daysleft {
			margin-bottom: 10px;
		}
		.doula-organizer {
			line-height: 2;
			span {
				display: block;
			}
		}
		.raised-goal {
			color: $black;
			font-weight: 700;
			font-size: 16px;
		}
		.brief-description {
			margin-bottom: 20px;
		}
		.donate-now {
			margin-bottom: 23px;
			a {
				width: 100%!important;
				text-align: center!important;
				font-weight: 300!important;
				letter-spacing: 1px;
				text-transform: uppercase;
				&:hover {
					background: #8dc43f;
					border: 1px solid #8dc43f;
					color: #fff!important;
				}
				&:active, &:focus {
					background: #8dc43f;
					border: 1px solid #8dc43f;
					color: #fff;
					outline: none;
				}
			}
		}
		.share  {
			// text-align: center;
			.h3 {
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #888;
			}
			a {
				text-align: center;
				color: #000;
				width: 40px;
				height: 40px;
				border: 1px solid #ccc;
				border: 1px solid rgba(0, 0, 0, .1);
				display: table;
				float: left;
				margin-right: 10px;
				@include border-radius(4px, 4px);
				@include aTransition(.5s);
				i {
					display: table-cell;
					vertical-align: middle;
					font-size: 20px;
				}
				&:hover {
					text-decoration: none;
					background: #34aadc;
					border: 1px solid #34aadc;
					i {
						color: #fff;
					}
				}
				&:active, &:focus {
					outline: none;
					text-decoration: none;
				}
			}
		}
		
	}
}

#doula-tabs {
	background: #fff;
	margin-top: 140px;
	.tab-nav {
		margin: -44px 0 0 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			a {
				float: left;
				font-size: 15px;
				padding: 10px 20px;
				text-align: center;
				margin-right: 10px;
				background: #34aadc;
				// background: #fdfcfa;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
				color: #fff;
				// color: #737373;
				position: relative;
				@include aTransition(.2s);
				@media screen and (max-width: 667px ) {
					.tab-menu-label {
						display: none;
					}
				}
				
				.count {
					position: absolute;
					top: 0;
					margin-top: -14px;
					right: 7px;
					background: #8dc43f;
					padding: 1px 7px;
					@include border-radius(30px);
					font-size: 11px;
					border: 3px solid #f7f4ef;
					color: #fff;
				}
				&:hover {
					margin-top: -8px;
					padding-bottom: 20px;
					text-decoration: none;
					background: #fff;
					color: #737373;
				}
				&:active, &:focus {
					outline: none;
					text-decoration: none;
				}
			}
			&.active {
				a {
					background: #fff;
					color: #737373;
					margin-top: -8px;
					padding-bottom: 20px;
				}
			}
		}

	}
	#tabs-content {
		padding: 50px 0;
		p {
			margin-bottom: 20px;
			line-height: 1.9;
		}
		.tab-content {
			display: none;
			&.active {
				display: block;
			}
			h2 {
				color: #000;
				font-weight: 300;
			}
		}
	}
}
#donate {
	background: #f7f4ef;
	padding: 50px 0;
	.h1, .h2 {
		color: $black;
		margin-top: 0;
		margin-bottom: 40px;
	}
	.h2 {
		margin-bottom: 10px;
		color: #000;
		font-size: 20px;
	}
	.doula-donate-info {
		margin-bottom: 30px;	
	}
	.amt-label {
		display: block;
		text-align: right;
		margin-bottom: 20px;
	}
	#amt {
		text-align: right;
	}

	.input-amt {
		width: 200px;
		.input-group-addon {
			font-size: 20px;
		}
	}
	.form-group {
		width: 100%;
		margin-bottom: 30px;
	}
	.total {
		padding: 30px 0;
		border-top: 1px solid #ccc;
		position: relative;
	}
	.total-amount {
		position: absolute;
		right: 0;
		top: 25px;
		font-size: 20px;
		display: block;

	}
	.paginate {
		clear: both;
	}

}
.form-control {
	height: 50px;
	font-size: 18px;
	font-weight: 400;
	box-shadow: none;
	&:hover, &:active, &:focus {
		box-shadow: none;
	}
	&:active, &:focus {
		border: 1px solid #34aadc;	
	}
	
}
.post-wrap {
	margin: 0 0 0px 0;
	padding: 0;
	float: left;
	width: 100%;
	.post-entry {
		list-style: none;
		margin: 0 0 30px 0;
		padding: 0;
		border-bottom: 1px solid #f7f4ef;
		float: left;
		width: 100%;
		display: block;
		.post-doante-date {
			float: right;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #696969;
			color: #ccc;
			margin-top: 0px;
		}
		.post-username {
			margin-top: 0;
			font-size: 20px;
			color: #5a5a5a;
			font-weight: 700;
		}
		.post-donate {
			clear: both;
			display: block;
			float: left;
			.post-donate-label {
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 1px;	
				color: #ccc;
				display: block;
				margin-bottom: 10px;
			}
			.post-donate-amount {
				display: block;
				font-size: 20px;
				color: #8dc43f;
				background: url(../images/banknote.png) no-repeat left 50%;
				padding-left: 33px;
			}
			.post-message {
				margin-top: 20px;
			}
		}
	}
}
.pagination {
	width: 100%;
}
.love {
	color: #f9bcb5;
}

#form-section {
	background: #f7f4ef;
	padding: 100px 0;
	.box {
		padding: 20px;
		background: #fff;
		@include border-radius(4px, 4px);
	}
	.label {
		font-weight: 500;
		color: #6e6e6e;
		font-size: 14px;
	}
	#remember {
		margin-top: 4px;
		float: left;
	}
	.form-wrap {
		max-width: 600px;
		margin: 0 auto;
		
		// float: left;
	}
	.form-group {
		margin-bottom: 20px;
		clear: both;
		width: 100%;
		// float: left;
	}
	.forgot {
		margin-top: 10px;
	}
}

#admin-section-wrap {
	background: #f7f4ef;
	padding-top: 40px;
	padding-bottom: 40px;
	#doula-tabs {
		@include border-radius(4px, 4px);
		position: relative;
		float: left;
		width: 100%;

		.tab-nav {
			position: relative;
			margin: -44px 0 0 40px;
			@media screen and (max-width: $screen-sm) {
				margin-left: 20px;
			}
		}
		.tab-content {
			padding-left: 40px;
			padding-right: 40px;
			.field {
				float: left;
				width: 100%;
				margin-bottom: 30px;
				.label {
					color: #888!important;
					text-align: left;
					font-size: 12px;
					letter-spacing: 1px;
					text-transform: uppercase;
					padding: 0;
					margin: 0;
					display: block;
				}
				p {
					color: #000;
					margin-bottom: 0;
					font-size: 18px;
				}
			}
			form {
				.label {
					color: #888!important;
					margin-bottom: 10px!important;
					border-radius: 0;
					display: block;
				}
			}

		}
	}
}

#doula-profile {
	background: #f7f4ef;
	padding: 100px 0;
	.form-group {
		margin-bottom: 30px;
	}
	.box {
		padding: 20px 40px;
		background: #fff;
		@include border-radius(4px, 4px);
	}
	.h1 {
		margin-top: 20px;
	}
	.label {
		color: #888!important;
		text-align: left;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 0;
		margin: 0 0 15px 0;
		display: block;
		font-weight: bold;
	}
	p {
		color: #000;
		margin-bottom: 0;
		font-size: 16px;
	}
	
}



.navbar-toggle {
	z-index: 9999;
	.icon-bar {
		background: #fff;
	}
}

.mobile-menu {
	background: #282828;
	padding: 20px;
	display: none;
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			a {
				display: block;
				color: #ccc;
				padding: 7px 10px;
				&:hover {
					color: #fff!important;
					text-decoration: none;
				}
			}
			&.sign-up a {
				background: #34aadc;
				color: #fff;
				@include border-radius(4px, 4px);
			}
		}
	}
}


.col-xxs-12 {

  @media screen and (max-width: 480px ) {
    width: 100%!important;
    clear: both!important;
    float: none!important;
  }

}