{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2 class="content-title">Account &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block content %}


<section id="form-section" style="padding: 20px 0px;">

    <div class="form-wrap">
        <div>
            <ul class="navprofile">
                <li style="color:#34AADC;"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
                <li class="selected"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
                <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
                <!--
                <li class="last"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
                -->
            </ul>
        </div>
        <br/>
      <h1 class="h1" style="padding-top: 60px;">Edit Profile</h1>

      <div class="box">

        <form action="" enctype="multipart/form-data" method="post">

            {% csrf_token %}
            <fieldset>


                {% for field in form %}
                    {% if not field.name = 'mugshot' and not field.name = 'privacy' and not field.name = 'language' and not field.name = 'birth_date' %}
                        <div class="form-group clearfix">
                            <div class="col-md-12">
                                <!--<label for="{{ field.id }}">{{ field.label }} {% if field.name = 'birth_date' %} ( YYYY-MM-DD ) {% endif %}</label><br/>-->
                                <label for="{{ field.id }}">{{ field.label }}</label><br/>
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}


<!--
                <legend>{% trans "Edit Profile" %}</legend>
                {{ form.as_p }}
-->
            </fieldset>
            <div class="form-group clearfix">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary btn-green btn-lg">Save changes</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /box -->
    </div>
</section>



{% endblock %}
