{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div id="intro">
  <h2 class="intro"><span>Doula</span><br/>Help.. Share..</h2>

  <p class="intro">Doulas provide important pregnancy related advice and assistance to the couple during labor. However, Doula services are usually out-of-pocket expense to the would be parents and can range from $500-$1500 or more. Such services are not usually covered by health insurance companies and so many people dont use Doulas. Even though it is known that Doulas help couples have more stress free labor and also help them make treatment choices before and during the labor. </p>

  <p id="xtra-info">“Each baby has only one opportunity to be born” ~ <a href="http://bloomingmiracledoula.com/affirmations-quotes/">Nancy Wainer</a></p>

</div><!-- /intro-->

<ul class="features">
  <li><h3>What is Doula?</h3>

  <p> A doula is a nonmedical person who assists a woman before, during, or after childbirth, as well as her husband and/or family, by providing physical assistance, and emotional support. The provision of continuous support during labour, which may be provided by doulas, nurses, family, friends, etc. is associated with improved maternal and fetal health and a variety of other benefits.</p>
    <a href="http://en.wikipedia.org/wiki/Doula">http://en.wikipedia.org/wiki/Doula</a>
  </li>
  <li><h3>Birth</h3>

  <p> A birth doula is also called a labor doula. The kinds of support provided during childbirth may include physical assistance and comfort (massage, maintaining a supporting posture or providing water), emotional support (providing company, encouragement or simply talking in a soothing tone of voice), and acting as an advocate for the woman undergoing childbirth (suggesting options or supporting the woman's decisions to a medical team).</p>

  <li>
  <h3>Family Life</h3>

  <p> A family life doula provides help and support to an entire family. Occasionally confused with nannies, family life doulas are ongoing, long-term sources of support within a family structure. They fulfill tasks similar to those of postpartum doulas. Additionally, they care for children while providing emotional support, encouragement, companionship, and, if requested, guidance to new mothers. A family life doula can play a key role in lowering a family's stress so parents are able to focus on thriving in their careers while growing together as a parenting team at home.</p>

  </li>
</ul>

{% endblock %}
